<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
  <test name="Pass_Validate01_testng">
  
    <classes>
       <class name="com.compatibilityTests.TC_MultiBrowserSupport"/>
       <class name="com.compatibilityTests.TC_HomePage_Usability"/>
       <class name="com.compatibilityTests.TC_Verify_Image_Size"/>
       <class name="com.compatibilityTests.TC_HomePage_LoginRegisterButton"/>
       <class name="com.compatibilityTests.TC_Verify_Image_Size"/>
       
       <class name="com.loginTests.TC_Verify_SignUpLink"/>
       <class name="com.loginTests.TC_Verify_Invalid_Password_Login"/>
       <class name="com.loginTests.TC_Verify_HomeButton"/>
       <class name="com.loginTests.TC_Verify_UserName"/>
       <class name="com.loginTests.TC_Verify_Password_HiddenFormat"/>
       <class name="com.loginTests.TC_Verify_Invalid_Credentials"/>
       <class name="com.loginTests.TC_Verify_login_Dashboard"/>
       
      
       
       <class name="com.dashboardTests.TC_Verify_Download_Button"/>
       <class name="com.dashboardTests.TC_Verify_Dashboard_DeleteButton"/>
       <class name="com.dashboardTests.TC_Verify_Dashboard_Name"/>
       <class name="com.dashboardTests.TC_Verify_DeleteButton"/>
       <class name="com.dashboardTests.TC_Verify_ProfileButton"/>
       
       
       <class name="com.profileDataTests.TC_Verify_DateJoinedCheck"/>
       <class name="com.profileDataTests.TC_Verify_FirstNameLastName"/>
       <class name="com.profileDataTests.TC_Verify_Gender"/>
       <class name="com.profileDataTests.TC_Verify_MobileNumber"/>
       <class name="com.profileDataTests.TC_Verify_UpdateProfile"/>
       <class name="com.profileDataTests.TC_Verify_Update_ProfilePicture"/>
       <class name="com.profileDataTests.TC_Verify_ProfileEmail_Display"/>
      
       
       <class name="com.functionalityTests.TC_Verify_ChangePassword"/>
       <class name="com.functionalityTests.TC_Verify_HyperLinksConnected"/>
       <class name="com.functionalityTests.TC_Verify_PasswordEyeButton"/>
       
       <class name="com.LogOutTests.TC_Verify_Logout_Successful"/>
       <class name="com.LogOutTests.TC_Verify_loggedIn_or_auto_loggedOut"/>
       <class name="com.LogOutTests.TC_Verify_Logout_Button"/>
       <class name="com.LogOutTests.TC_Verify_LogoutButtonPresent"/>
       
       <class name="com.fileUploadTests.TC_Verify_File_size"/>
       <class name="com.fileUploadTests.TC_Verify_FileUpload_Button_Clickable"/>
       <class name="com.fileUploadTests.TC_Verify_FileUploadButton"/>
       <class name="com.fileUploadTests.TC_Verify_FileUploadButton_Enabled"/>
       <class name="com.fileUploadTests.TC_Verify_ImageUpload"/>
       <class name="com.fileUploadTests.TC_Verify_UploadedFiles_Displayed"/>
       
       <class name="com.registerTests.TC_Catch_Alert"/>
       <class name="com.registerTests.TC_Verify_FirstName"/>
       <class name="com.registerTests.TC_Verify_Lastname"/>
       <class name="com.registerTests.TC_Verify_Password_Rules"/>
       <class name="com.registerTests.TC_Verify_Register"/>
       <class name="com.registerTests.TC_Verify_Register_Button"/>
       <class name="com.registerTests.TC_Register_Userid"/>
       <class name="com.registerTests.TC_Register_Valid_Emailid"/>
       <class name="com.registerTests.TC_Verify_Upload_file"/>
       <class name="com.registerTests.TC_Verify_SuccessfulReg"/>
       
       
       
   
       
    </classes>
  </test> <!-- Pass_Validate01_testng -->
</suite> <!-- Suite -->
