<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
  <test thread-count="5" name="Pass_Validate01_testng">
  <packages>
  	 <package name="com.loginTests"/>
  	 <package name="com.dashboardTests"/>
  	 <package name="com.functionalityTests"/>
  	 <package name="com.profileDataTests"/>
  	 
  </packages>
  
    <classes>
       <class name="com.compatibilityTests.Verify_Image_Size"/>
       <class name="com.registerTests.Password_Rules_01"/>
       <class name="com.registerTests.Register_Button_13"/>
       <class name="com.fileUploadTests.Verify_FileUploadButton">
       <methods>
       <exclude name="check_windowOpen"/>
       </methods>
       </class>
       
       <class name="com.registerTests.TC_Register_Userid_1">
       <methods>
       	<exclude name="Userid_001"></exclude>
       </methods>
       </class>
       
    </classes>
  </test> <!-- Pass_Validate01_testng -->
</suite> <!-- Suite -->
